config.php
config.incomplete.php
.DS_Store
*/.DS_Store
images/.DS_Store
plugins/.DS_Store
plugins/com.gidix.examplePlugin/.DS_Store
lib/cache/*.php
images/avatar/*
!images/avatar/default.png
images/avatar/mini/*
!images/avatar/mini/default.png
